<a (click)="scrollToElement('head')"><div>
  <i class="fa fas fa-angle-up up-btn"></i>
</div></a>
<div class="mt-5 border-top">
  <div style="display: flex; justify-content: space-between;" class="ml-3 mt-4 mb-4">
    <div>
      <h4><span style="color: #cea255e9;">Code</span>x.</h4>
    </div>
    <div>
      <a href="https://www.facebook.com/tohy.randriatahina" target="_blank"><i style="font-size: 20px;" class="fab fa-facebook m-3 text-dark"></i></a>
      <a href="https://mg.linkedin.com/in/léo-randriantahina-9773a6237" target="_blank"><i style="font-size: 20px;" class="fab fa-linkedin m-3 text-dark"></i></a>
      <a href="https://github.com/Tohiniaina" target="_blank"><i style="font-size: 20px;" class="fab fa-github m-3 text-dark"></i></a>
    </div>
  </div>
</div>
<div class="border-top text-center">
  <p>&copy;Copyright Léo 2024</p>
</div>
