<div class="footer-section">
  <div class="footer-content">
    <!-- <div class="footer-header">
      <button class="scroll-top-btn" (click)="scrollToElement('head')">
        <i class="fas fa-angle-up"></i>
      </button>
    </div> -->
    
    <div class="footer-main">
      <div class="footer-brand">
        <h4><span class="highlight">Code</span>x.</h4>
      </div>
      
      <div class="footer-social">
        <a href="https://www.facebook.com/tohy.randriatahina" target="_blank" class="social-link">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://mg.linkedin.com/in/léo-randriantahina-9773a6237" target="_blank" class="social-link">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/Tohiniaina" target="_blank" class="social-link">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
    
    <div class="footer-bottom">
      <p class="copyright">&copy; Copyright Léo {{ currentYear }}</p>
    </div>
  </div>
</div>
