<div class="experience-section" id="experience">
  <div class="container">
    <div class="experience-content">
      <h2 class="section-title">Expériences Professionnelles</h2>
      <div class="experience-list">
        <div class="experience-item">
          <h3 class="experience-title">Développeur et Devops - Be ys Outsourcing Service Madagascar</h3>
          <span class="experience-date">Juillet 2024 – Présent</span>
          <ul class="experience-description">
            <li>Déploiement d’un serveur d’orchestration Kubernetes</li>
            <li>Conception d’une architecture Datawarehouse sur Kubernetes</li>
            <li>Développement d’outils de gestion des documents électroniques</li>
            <li>Création d’outils internes pour l’évaluation de la satisfaction client</li>
            <li>Industrialisation et automatisation des reportings</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> 