<div class="experience-section" id="experience">
  <div class="container">
    <div class="experience-content">
      <h2 class="section-title">Expériences Professionnelles</h2>
      <div class="experience-list">
        <div class="experience-item">
          <h3 class="experience-title">Développeur - Be ys Outsourcing Service Madagascar</h3>
          <span class="experience-date">Juillet 2024 – Présent</span>
          <ul class="experience-description">
            <li>Contribution au déploiement et à la configuration d'un serveur d'orchestration Kubernetes pour améliorer la scalabilité des applications.</li>
            <li>Participation à la conception d'une architecture Datawarehouse pour centraliser l'analyse des données.</li>
            <li>Développement d’outils de gestion des documents électroniques axés sur la sécurité et la fiabilité.</li>
            <li>Création d’outils internes pour l’évaluation de la satisfaction client</li>
            <li>Automatisation des reportings pour réduire les délais de génération et fiabiliser les données.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> 