<div class="project-card">
  <div class="project-content">
    <h3 class="project-title">{{project.name}}</h3>
    <p class="project-description">{{project.description}}</p>
    
    <div class="project-tech">
      <span class="tech-tag">{{project.frontEnd}}</span>
      <span class="tech-tag">{{project.backEnd}}</span>
      <span class="tech-tag">{{project.database}}</span>
    </div>
    
    <div class="project-footer">
      <a href={{project.projectLink}} target="_blank" class="project-link">
        <i class="fab fa-github"></i>
        <span>Voir le code</span>
      </a>
    </div>
  </div>
</div>
