<style>
  .icon {
    border: 1px solid;
    border-radius: 10px;
    padding: 8px;
    color: white;
    background-color: rgb(29, 28, 28);
    margin: 0px;
  }
</style>
<div class="contact-section" id="contact">
  <div class="container">
    <div class="contact-content">
      <h2 class="section-title">Contact</h2>
      <div class="contact-card">
        <div class="contact-info">
          <div class="contact-item">
            <div class="contact-icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="contact-details">
              <h3>Téléphone</h3>
              <a href="tel:+261347256274">+261 38 25 091 18</a>
            </div>
          </div>
          
          <div class="contact-item">
            <div class="contact-icon">
              <i class="fa fa-envelope"></i>
            </div>
            <div class="contact-details">
              <h3>Email</h3>
              <a href="mailto:tohiniaina15&#64;gmail.com">tohiniaina15&#64;gmail.com</a>
            </div>
          </div>
          
          <div class="contact-item">
            <div class="contact-icon">
              <i class="fab fa-linkedin"></i>
            </div>
            <div class="contact-details">
              <h3>LinkedIn</h3>
              <a href="https://mg.linkedin.com/in/léo-randriantahina-9773a6237" target="_blank">Léo Randriantahina</a>
            </div>
          </div>
          
          <div class="contact-item">
            <div class="contact-icon">
              <i class="fa fa-map-marker-alt"></i>
            </div>
            <div class="contact-details">
              <h3>Localisation</h3>
              <a href="https://www.google.com/maps/place/2GCM%2B2JP,+Antananarivo/@-18.9797784,47.5341011,52m/data=!3m1!1e3!4m9!1m2!2m1!1zLA!3m5!1s0x21f07c071a5f2477:0xfaf7c3d7ff11e3f!8m2!3d-18.9798889!4d47.5341597!16s%2Fg%2F11wb1s0403?entry=ttu&g_ep=EgoyMDI1MDQzMC4xIKXMDSoASAFQAw%3D%3D" target="_blank">Antananarivo 102</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
