<style>
  .icon {
    border: 1px solid;
    border-radius: 10px;
    padding: 8px;
    color: white;
    background-color: rgb(29, 28, 28);
    margin: 0px;
  }
</style>
<div class="container mt-5">
  <h5 class="text-primary">Contacts:</h5>
  <div class="row justify-content-between p-3">
    <div>
      <p><i class="fa fa-phone icon"></i> +261 34 72 562 74</p>
      <p><i class="fa far fa-envelope icon"></i> tohiniaina15@gmail.com</p>
    </div>
    <div>
      <p><i class="fab fa-linkedin icon"></i> Léo Randriantahina</p>
      <p id="skills"><i class="fa fas fas fa-map-marker-alt icon"></i> Antananarivo 102</p>
    </div>
  </div>
</div>
