<style>
  .icon {
    border: 1px solid;
    border-radius: 10px;
    padding: 8px;
    color: white;
    background-color: rgb(29, 28, 28);
    margin: 0px;
  }
</style>
<div class="contact-section" id="contact">
  <div class="container">
    <div class="contact-content">
      <h2 class="section-title">Contact</h2>
      <div class="contact-card">
        <div class="contact-info">
          <div class="contact-item">
            <div class="contact-icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="contact-details">
              <h3>Téléphone</h3>
              <a href="tel:+261347256274">+261 34 72 562 74</a>
            </div>
          </div>
          
          <div class="contact-item">
            <div class="contact-icon">
              <i class="fa fa-envelope"></i>
            </div>
            <div class="contact-details">
              <h3>Email</h3>
              <a href="mailto:tohiniaina15&#64;gmail.com">tohiniaina15&#64;gmail.com</a>
            </div>
          </div>
          
          <div class="contact-item">
            <div class="contact-icon">
              <i class="fab fa-linkedin"></i>
            </div>
            <div class="contact-details">
              <h3>LinkedIn</h3>
              <a href="https://mg.linkedin.com/in/léo-randriantahina-9773a6237" target="_blank">Léo Randriantahina</a>
            </div>
          </div>
          
          <div class="contact-item">
            <div class="contact-icon">
              <i class="fa fa-map-marker-alt"></i>
            </div>
            <div class="contact-details">
              <h3>Localisation</h3>
              <a>Antananarivo 102</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
