<div class="portfolio-section" id="skills">
  <div class="container">
    <div class="portfolio-content">
      <h2 class="section-title">Mes Compétences</h2>
      <div class="skills-grid">
        <div class="skill-card">
          <div class="skill-icon">
            <img src="assets/logo/icons8-logo-java-coffee-cup-100.png" alt="Java">
          </div>
          <h3 class="skill-name">JAVA</h3>
        </div>
        
        <div class="skill-card">
          <div class="skill-icon">
            <img src="assets/logo/icons8-python-100.png" alt="Python">
          </div>
          <h3 class="skill-name">Python</h3>
        </div>
        
        <div class="skill-card">
          <div class="skill-icon">
            <img src="assets/logo/icons8-c-sharp-logo-100.png" alt="C#">
          </div>
          <h3 class="skill-name">C#</h3>
        </div>
        
        <div class="skill-card">
          <div class="skill-icon">
            <img src="assets/logo/icons8-angularjs-100.png" alt="Angular">
          </div>
          <h3 class="skill-name">Angular</h3>
        </div>
        
        <div class="skill-card">
          <div class="skill-icon">
            <img src="assets/logo/icons8-react-native-100.png" alt="React">
          </div>
          <h3 class="skill-name">React JS</h3>
        </div>
        
        <div class="skill-card">
          <div class="skill-icon">
            <img src="assets/logo/icons8-postgresql-100.png" alt="PostgreSQL">
          </div>
          <h3 class="skill-name">PostgreSQL</h3>
        </div>
        
        <div class="skill-card">
          <div class="skill-icon">
            <img src="assets/logo/icons8-mongodb-100.png" alt="Mongo DB">
          </div>
          <h3 class="skill-name">Mongo DB</h3>
        </div>
        
        <div class="skill-card">
          <div class="skill-icon">
            <img src="assets/logo/starrocks-1336519700468980692_128px.png" alt="StarRocks">
          </div>
          <h3 class="skill-name">StarRocks</h3>
        </div>
        
        <div class="skill-card">
          <div class="skill-icon">
            <img src="assets/logo/icons8-docker-100.png" alt="Docker">
          </div>
          <h3 class="skill-name">Docker</h3>
        </div>
        
        <div class="skill-card">
          <div class="skill-icon">
            <img src="assets/logo/icons8-google-cloud-platform-100.png" alt="google-cloud-platform">
          </div>
          <h3 class="skill-name">Google Cloud Plateform</h3>
        </div>

        <!-- <div class="skill-card">
          <div class="skill-icon">
            <img src="assets/logo/flink_squirrel_100_color.png" alt="google-cloud-platform">
          </div>
          <h3 class="skill-name">Apache Flink</h3>
        </div> -->
      </div>
    </div>
  </div>
</div>
