<div class="container text-center mt-4">
  <h4 class="mb-5 underline">Mes Compétences</h4>
  <div style="display: flex; justify-content: space-between; margin-bottom: 50px;">
    <div>
      <p style="margin: 0; color: #F44336;">JAVA</p>
      <img src="assets/logo/icons8-logo-java-coffee-cup-100.png" alt="">
    </div>
    <div>
      <p style="margin: 0; color: #546E7A;">.Net</p>
      <img src="assets/logo/icons8-c-sharp-logo-100.png" alt="">
    </div>
    <div>
      <p style="margin: 0; color: #9B9DCE;">PHP</p>
      <img src="assets/logo/icons8-php-100.png" alt="">
    </div>
  </div>
  <div style="display: flex; justify-content: space-between; margin-bottom: 50px;" class="mt-4">
    <div>
      <p style="margin: 0; color: #8BC34A;">SpringBoot</p>
      <img src="assets/logo/icons8-spring-boot-100.png" alt="">
    </div>
    <div>
      <p style="margin: 0; color: #B71C1C;">Angular</p>
      <img src="assets/logo/icons8-angularjs-100.png" alt="">
    </div>
    <div>
      <p style="margin: 0; color: #80DEEA;">React</p>
      <img src="assets/logo/icons8-react-native-100.png" alt="">
    </div>
  </div>
  <div style="display: flex; justify-content: space-between;" class="mt-4">
    <div>
      <p style="margin: 0; color: #0277BD;">PostgreSQL</p>
      <img src="assets/logo/icons8-postgresql-100.png" alt="">
    </div>
    <div>
      <p style="margin: 0; color: #B71C1C;">SQL Server</p>
      <img src="assets/logo/icons8-serveur-microsoft-sql-100.png" alt="">
    </div>
    <div>
      <p style="margin: 0; color: #4CAF50;">Mongo DB</p>
      <img src="assets/logo/icons8-mongodb-100.png" alt="">
    </div>
  </div>
</div>
