<div class="container text-center mt-4">
  <h4 class="underline">Qui suis-je ?</h4>
  <p class="mt-4" style="text-align: justify;">
    Bonjour! Je m'appelle <strong>Randriantahina Tohiniaina Léo</strong>.
    Je poursuis une licence en informatique à l'IT University et je me spécialise en développement.
    Passionné par le développement logiciel,  j'ai une solide base en langages de programmation tels que
    <strong>Java</strong>, <strong>.Net</strong> et <strong>Php</strong>.
    Je suis motivé à apprendre et à contribuer à des projets innovants.
    Mes projets personnels m'ont permis de développer des compétences en résolution de problèmes et en travail d'équipe.
    Mon objectif est de devenir un professionnel compétent et innovant, prêt à relever les défis de l'industrie informatique.
  </p>
</div>
