<div class="resume-section">
  <div class="container">
    <div class="resume-content">
      <h2 class="section-title">Qui suis-je ?</h2>
      <div class="about-card">
        <p class="about-text">
          Bonjour ! Je m'appelle <span class="highlight">Randriantahina Tohiniaina Léo</span>, aussi connu sous le pseudo <span class="highlight">Codex</span>.
          Je suis <strong>développeur junior</strong> et <strong>cloud engineer junior certifié Google ACE</strong>, passionné par le <strong>DevOps</strong> et les technologies cloud.
        </p>
        <p class="about-text">
          Je possède une solide base en développement logiciel, avec des compétences en 
          <span class="skill">Java</span>, <span class="skill">.Net</span> et <span class="skill">Python</span>.
          Mes projets personnels m'ont permis de renforcer mes capacités en résolution de problèmes, en collaboration d’équipe, et d'approfondir ma maîtrise des environnements de développement modernes et des outils DevOps.
          Mon ambition est de contribuer activement à des projets innovants et de continuer à évoluer dans les domaines du développement et du cloud computing.
        </p>
      </div>      
    </div>
  </div>
</div>
