<div class="container" style="margin-top: 100px;">
  <div class="row">
    <!-- About me -->
    <div class="col-lg">
      <div class="text-center">
        <img src="assets/Sinner.jpg" alt="profile picture" width="256" height="256" class="rounded-circle border profil-picture">
        <h1 class="mt-4">Léo Randriantahina</h1>
        <h3>Développeur</h3>
        <a href="assets/CV.png" download="Léo_Randriantahina_CV"><button class="btn mt-4 btn-cv">Download Cv<i class="fa fa-download ml-2"></i></button></a>
        <div id="abouts">
          <a href="https://www.facebook.com/tohy.randriatahina" target="_blank"><i style="font-size: 24px;" class="fab fa-facebook-square m-3 text-dark"></i></a>
          <a href="https://mg.linkedin.com/in/léo-randriantahina-9773a6237" target="_blank"><i style="font-size: 24px;" class="fab fa-linkedin m-3 text-dark"></i></a>
          <a href="https://github.com/Tohiniaina" target="_blank"><i style="font-size: 24px;" class="fab fa-github m-3 text-dark"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
