<div class="home-section">
  <div class="container">
    <div class="home-content">
      <div class="profile-section">
        <div class="profile-image-container">
          <img src="assets/profile.jpg" alt="profile picture" class="profile-image">
        </div>
        <h1 class="profile-name">Léo Randriantahina</h1>
        <div class="profile-titles">
          <h2 class="profile-title">Développeur Informatique <br> Junior Cloud Engineer | DevOps</h2>
        </div>
        <div class="profile-actions">
          <a class="download-btn" href="assets/Randriantahina_CV.pdf" download>
            <span>Download CV</span>
            <i class="fa fa-download"></i>
          </a>
        </div>
        <div class="social-links" id="abouts">
          <a href="https://www.facebook.com/tohy.randriatahina" target="_blank" class="social-link">
            <i class="fab fa-facebook-square"></i>
          </a>
          <a href="https://www.linkedin.com/in/l%C3%A9o-randriantahina" target="_blank" class="social-link">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://github.com/Tohiniaina" target="_blank" class="social-link">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
